<div class="footer w-100">
      <div class="footer-links">
        <a href="#"><span class="iconify" data-icon="mdi:facebook" data-inline="false"></span></a>
        <a href="#" style="margin-top: 3px;"><span class="iconify" data-icon="ant-design:instagram-filled" data-inline="false"></span></a>
        <a href="#" style="margin-top: 3px"><span class="iconify" data-icon="ant-design:youtube-filled" data-inline="false"></span></a>
      </div>
      <div class="footer-copyright">
        Mixerz-2020©
      </div>
    </div>
