<div class="mnavbar">
    <%= image_tag "mixerzlogo.png", class: "brand-img-desktop" %>
    <%= image_tag "mobile.png", class: "brand-img-mobile" %>
    <li>
      <div class="mobile-nav">
        <span class="iconify" data-icon="jam:messages" data-inline="false"></span>
        <h2>Messages</h2>
      </div>
      <div class="mobile-nav">
      <span class="iconify" data-icon="ic:baseline-explore" data-inline="false"></span>
        <h2>Explore</h2>
      </div>
      <div class="mobile-nav">
      <span class="iconify" data-icon="whh:findfriends" data-inline="false"></span>
        <h2>Match</h2>
      </div>
      <a class="desktop-nav" href="">Messages</a>
      <a class="desktop-nav active" href="">Explore</a>
      <a class="desktop-nav" href="">Match</a>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
    </li>
</div>
