<div class="page-wrap">
  <div class="banner">
    <h1>Find your next hangout.</h1>
    <h3>80 adventures near you</h3>
    <div class="search">
      <div class="form">
        <input type="text" placeholder="Search">
        <span class="iconify" data-icon="bx:bx-search" data-inline="false"></span>
      </div>
      <div class="mobile-options">
        <button class="btn btn-secondary mobile-options">Options</button>
      </div>
        <div class="options">
          <p>within 5. miles</p>
        </div>
        <div class="buttons">
          <a href="" class="btn btn-secondary active">Party</a>
          <a href="" class="btn btn-secondary">Lookers</a>
        </div>
    </div>
  </div>
  <div class="cardbox">
    <h2>HOT TODAY</h2>
    <div class="cards">
      <div class="card">
        <div class="descp">
          <h3>GANGNAM PARTY</h3>
          <p>10.04 at Octagon</p>
          <p>99+ Going | EDM, Techno, POP</p>
        </div>
        <a href="#"><img src="https://img.freepik.com/free-photo/people-enjoying-party_53876-32853.jpg?size=626&ext=jpg" alt=""></a>
      </div>
      <div class="card">
        <div class="descp">
          <h3>Soul Music NIGHT</h3>
          <p>10.04 at Gangnam</p>
          <p>65 Going | Trance, Hardstyle</p>
        </div>
        <a href="#"><img src="https://d3h30waly5w5yx.cloudfront.net/images/tour/pictures/international-pub-party-gsm-2.jpg" alt=""></a>
      </div>
      <div class="card">
        <div class="descp">
          <h3>FULL MADNESS</h3>
          <p>10.04 at Itaewon</p>
          <p>99+ Going | EDM, Hardstyle</p>
        </div>
        <a href="#"><img src="https://zone-trt-bhxtb9xxzrrdpzhqr.netdna-ssl.com/wp-content/uploads/2017/05/Club-Mass-gangnam-seoul-860x605.jpg" alt=""></a>
      </div>
      <div class="card">
        <div class="descp">
          <h3>CORONA PARTY</h3>
          <p>10.04 at Itaewon</p>
          <p>50 Going | EDM, K-POP</p>
        </div>
        <a href="#"><img src="https://zone-trt-bhxtb9xxzrrdpzhqr.netdna-ssl.com/wp-content/uploads/2017/05/Club-Arena-gangnam-seoul-860x573.jpg" alt=""></a>
      </div>
      <div class="card">
        <div class="descp">
          <h3>Soju NIGHT</h3>
          <p>10.04 at Hongdae</p>
          <p>92 Going | EDM, K-POP</p>
        </div>
        <a href="#"><img src="https://i.ytimg.com/vi/WAuv1lfJ9Zk/maxresdefault.jpg" alt=""></a>
      </div>
    </div>
    <h2>HOT TOMORROW</h2>
    <div class="cards">
      <div class="card">
        <div class="descp">
          <h3>GANGAM PARTY</h3>
          <p>11.04 at Octagon</p>
          <p>99+ Going | EDM, Hardstyle</p>
        </div>
        <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6IWhR23D8I3SRHbMm9av1B-_Nm5-LTP61sHkZmWe8ceesqDRH&usqp=CAU" alt=""></a>
      </div>
      <div class="card">
        <div class="descp">
          <h3>K-POP ALERT</h3>
          <p>11.04 at Gangnam</p>
          <p>99+ Going | K-POP, EDM</p>
        </div>
        <a href="#"><img src="https://a.cdn-hotels.com/gdcs/production82/d369/902a26f0-fc8f-499e-9837-73ed6d456b62.jpg" alt=""></a>
      </div>
      <div class="card">
        <div class="descp">
          <h3>ONE FAMILY</h3>
          <p>11.04 at Hongdae</p>
          <p>67 Going | Trance, Hardstyle</p>
        </div>
        <a href="#"><img src="https://zone1-ibizaspotlightsl.netdna-ssl.com/sites/default/files/styles/auto_1500_width/public/article-images/132783/slideshow-1545223229.jpg" alt=""></a>
      </div>
      <div class="card">
        <div class="descp">
          <h3>Foriegn Mix</h3>
          <p>11.04 at Itaewon</p>
          <p>80 Going | EDM, Techno</p>
        </div>
        <a href="#"><img src="https://img.freepik.com/free-photo/people-enjoying-party_53876-32853.jpg?size=626&ext=jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.iconify.design/1/1.0.5/iconify.min.js"></script>
