.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10%;
	border: 35px black;
	height: 400px;
    width: 350px;
    border: 1px white solid;
    box-shadow: 0px 0px 40px 20px gray;
    button,input {
        margin: 8px;
    }
    h2{
        font-size: 2.5rem;
    }
    #email,#password{
        border-radius: 5px;
        border: 0px solid green;
        box-shadow: 5px 5px 5px -3px gray;
        text-align: center;
        height: 40px;
        margin-bottom: 16px;
        padding: 8px;
    }
    #email:focus,#password:focus{
        border: 1px solid green;
    }
    .session {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        button {
            font-size: 1.5rem;
            color: white;
            font-weight: lighter;
            font-family: sans-serif;
            box-shadow: 4px 5px 2px -2px gray;
            text-align: center;
            height: 40px;
            padding: 8px;
            background: #0f2027; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */               
            border-radius: 20px;
            align-self: center;
            line-height: 20px;
            opacity: 0.9;
        }
        button:hover{
            opacity: 1;
        }
    }
    button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .oauth{
        font-size: 48px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid black;
        margin-top: 16px;
        button{
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
    }
}